#img_coll{
    display: list-item;
    padding: 10px;
    text-align: center;
}
#img_coll img {
    margin: 17px;
}
#header {
    height: 3750px;
}   
#new_flower{
    text-align: center;
}
#fotter {
    margin-top: 0px;
    width: 1223px;
}