body{
    width: 100%;
    height: 1600px;
    font-family: sans-serif;
}

#container{
    width: 100%;
    margin-top: -18px;
    clear: both;
    height: 89px;
}
#logo{
    width: 30%;
    float: left;
}
#nav-right{
    float: left;    
    width: 70%;
    position: absolute;
    text-align: right;
    padding-top: 36px;
    display: inline-table;
    
}
a {
    text-decoration: none;
}
#logo_shop{
    float: left;
    margin-left: 20px;
    margin-top: 32px;
}
#img_logo{
    width: 150px;
    margin-left: 50px;
}
img#img_vn {
    margin-left: -14px;
}
#shop{
    font-size: 30px;
    border: 3px black solid;
    padding-top: 15px;
    padding-left: 9px;
    padding-bottom: 15px;
    padding-right: 8px;
    color: red;
}
#span-img{
    padding-top: 0px;
}
div#nav-right ul li{     
    float: left;
    padding-left: 20px;
    list-style: none;
}
#nav-right ul{
    margin-left: 236px;
}
#img_vn{
    margin-left: 10px;
}

#header{
    width: 95%;
    height: 2500px;
    float: left;
    /* padding: 10px; */
    background-color: aliceblue;
}
#left{
    width: 20%;
    float: left;
}
#center-right{
    width: 80%;
    float: left;
    padding-top: 22px;
}
#title_flower_sl_bt{
    float: right;
    
}
/* Card */
#card{
    border: 1px #dbd8d8 solid;
    width: 280px;
    margin: 11px;
    display: inline-table;

}
#card_img{
    width: 280px;
}
#cart{
    margin-top: 19px;
    margin-right: -238px;
}
#card p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 11px;
}
#card span b{
    color: blue;
    
    
}
#card span strike{
    color: red;
}
#font_card {
    height: 120px;
    text-align: center;
}
#partner p{
    font-size: 40px;
    
}
#partner{
    text-align: center;
}
#extend,#information,#account,#contact{
    text-align: center;
    float: left;
    width: 25%;
    
}
ul {
    list-style: none;
    margin-left: 73px;
    text-align: left;
}
li {
    margin-top: 11px;
}
#fotter {
    margin-top: 60px;
    height: 230px;
    position: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center; 
}
#pay_img {
    
    margin-top: 19px;
}
#contact {
    margin-left: -90px;
}