.navbar-light .navbar-brand {
    color: #FF4545;
    font-size: 2.0rem;
    font-weight: 600;
    padding: 0.5rem;
    border: 3px solid black;
}

.nav-link{
    text-decoration: none;
    color: var(--black)!important;
    font-size: 1rem;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: #ccc;
  }

#home_carousel{
    background-color: #FF4545;

}
.home-carousel-caption{
    left: 10%;
    top:140px;
    right: unset;
}

.home-carousel-title{
    color: var(--black);
    text-shadow: 0px 0px 10px white;
    font-weight: 900;
    text-align: left;
}
h1.home-carousel-title{
    font-size: 3rem;
}
h6.home-carousel-title{
    font-size: 1.2rem;
}
.home-button{
    background-color: unset;
    border: 3px solid white;
}


.collection .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-in-out;
}

.collection .card:hover::after {
    visibility: visible;
    opacity: 1;
}

.collection .card:hover img {
    transform: scale(1.2);
}

.collection .card-body{
    top: 40%;
    position: absolute;
    text-align: center;
}

.collection .card{
    overflow: hidden;
    margin-bottom: 30px;
}

.collection .card-title{
    background-color: var(--black);
    width: 55%;
    text-align: center;
    height: 40px;
    margin: auto;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    line-height: 40px;
}

.collection .card:hover .card-title{
    background-color: white;
    color: var(--black);
    transition: all 500ms ease-in-out;
 }

 .collection  .btn-primary{
     background-color: unset;
     margin-top: 10px;
     border: 1px white solid;
 }
 .collection  .card:hover .btn-primary{
     background-color: var(--red);
     transition: all 500ms ease-in-out;
     border: unset;
    
 }
 .collection  .card-img-top{
     width: 100%;
     transition: all 500ms ease-in-out;
     
 }

 .product .card-img-top{
    aspect-ratio: 1/1;
 }

 .section-title{
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 2.5rem;
    font-weight: 900; 
}

.product .card:hover .addCart {
    border-radius: 1rem 0 0 0;
}


.product .addCart {
    position: absolute;
    right: 0;
    bottom: 0rem;
    background-color: white;
    border-radius: 50%;
    padding: 0.2rem 0.8rem;
    box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 10%);
    transition: all 300ms ease-in-out;
    font-size: 2rem;
}








.product .side-icons span:hover {
    background-color: var(--red);
    color: white;
}
.product .side-icons span {
    font-size: 1.4rem;
    background-color: white;
    margin: 0.5rem;
    padding: 0.4rem 0.8rem;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.product .card:hover .side-icons {
    transform: translate(0%, -50%);
}
.product .side-icons {
    position: absolute;
    right: 0;
    top: 30%;
    transform: translate(80%, -50%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: all 500ms ease-in-out;
}

.product .addCart:hover {
    background-color: var(--red);
    color: white;
}

.product .side-icons {
    position: absolute;
    right: 0;
    top: 30%;
    transform: translate(80%, -50%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: all 500ms ease-in-out;
}
.product .card{
    overflow: hidden;
    margin-bottom: 30px;
}

.product .price{
    color: blue;
    font-size: 1.2rem;
    font-weight: 600;
}
.product .old_price{
    color: var(--red);
    text-decoration: line-through;
}
.product .card-title{
    text-align: center;
    height: 40px;
    margin: auto;
    font-weight: bolder;
    line-height: 40px;
    font-size: 1.3rem;
}

.advert_img{
    width: 100%;
    aspect-ratio:3/3;
    z-index: 10;
}

.advert .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}
.advert .item:hover .content {
    color: white;
}
.advert .item .content a {
    text-decoration: none;
    color: var(--black);
}
.advert .item:hover .content a {
    color: white;
}

.advert .left {
    right: 10%;
}
.advert .right {
    left: 10%;
}

.advert .item:hover::after {
    background-color: rgba(223, 74, 74, 0.4);
   
}

.advert .item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    
}

footer{
    background-color:#222;
    color:white;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer ul{
    padding: unset;    
}
footer li{
    display: block;
    line-height: 30px;
    
}
footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: var(--red);
}


#listing ul{
    padding-left: 20px;
}

#listing li{
        display: block;
}

/*
#listing_sort .form-control{
    margin-left: 20px;
    margin-right: 20px;
}
*/

#listing_sort #search{
    width: 100px;
    background-color: #FF4545;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
#listing_sort #search:hover{
    background-color: #360101;
}

#detail .main{
    margin-bottom: 20px;
}

#detail .main img{
    width: 100%;
}


#detail .thumbnails{
    height: 100px;
    background-color: darkkhaki;
    overflow: scroll;
    border: 10px solid darkkhaki;;
}
#detail img.img-thumbnail{
    height: 100%;
}

#detail h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}

#detail .price{ 
    color: var(--red);
    font-size: x-large;
}

#detail #detail_review {
    min-height: 335px;
    border-left: 1px lightgray solid;
    border-right: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    overflow: scroll;
}


#detail a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.1rem;
    
}

#detail .nav-link.active {
    font-weight: 900!important;

}


#contact h3{
    line-height: 40px;
    margin-top: 20px;
    font-size: 2rem;
}

#contact .input-group-prepend:hover .fa{
    color: var(--red);
}

#contact .input-group-text {
    width: 40px;
}

.cart_number {
    color: white;
    background-color: var(--red);
    border-radius: 50%;
    font-size: 0.7rem;
    padding: 0.3rem;
    margin-left: -8px;
    position: relative;
    font-weight: 600;
    top: -15px;
}